extends ../index

block pageName 
    - pageName = "friends";

block page content
    .container
        -
            var friendsList = {
                samy: [
                    "javaScript dev",
                    "45",
                    "6",
                    "2",
                    "24/02/2023",
                    1
                ],
                anis: [
                    "php dev",
                    "5",
                    "13",
                    "1",
                    "04/06/2023",
                    2
                ],
                midou: [
                    "python dev",
                    "75",
                    "66",
                    "11",
                    "18/11/2023",
                    3
                ],
                wahab: [
                    "javaScript dev",
                    "7",
                    "67",
                    "17",
                    "04/02/2023",
                    4
                ]
            }
            var friends = Object.keys(friendsList);
        each fr, index in friends
            .friend
                .top
                    div
                        i(class="fa-solid fa-phone")
                        i(class="fa-solid fa-envelope")
                    img(src="../images/friend-0"+friendsList[fr][5]+".jpg", alt="")
                    h4=fr 
                    p=friendsList[fr][0]
                .mid
                    div
                        i(class="fa-regular fa-face-smile")
                        i(class="fa-solid fa-diagram-project")
                        i(class="fa-regular fa-newspaper")
                    div
                        span=friendsList[fr][1]
                        span=friendsList[fr][2] 
                        span=friendsList[fr][3] 
                    div
                        span friends
                        span projects
                        span articles
                .bottom
                    span joined #{friendsList[fr][4]}
                    div
                        button(type="submit") profile
                        button(type="submit") remove